:host(.primary)::part(base) {
  background-color: var(--primary-black-main);
  border-color: var(--primary-black-main);
  color: var(--primary-black-contrast);

  &:hover {
    background-color: var(--primary-black-dark);
    border-color: var(--primary-black-dark);
  }

  &[outline]::part(base) {
    background-color: var(--primary-black-contrast);
    border-color: var(--primary-black-states-outlined-border);
    color: var(--primary-black-main);

    &:hover {
      background-color: var(--primary-black-states-hover);
    }
  }
}

:host(.primary-alt)::part(base) {
  background-color: var(--primary-main);
  border-color: var(--primary-main);
  color: var(--primary-contrast);

  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &[outline]::part(base) {
    background-color: var(--primary-contrast);
    border-color: var(--primary-states-outlined-border);
    color: var(--primary-main);

    &:hover {
      background-color: var(--primary-states-hover);
    }
  }
}

:host(.secondary)::part(base) {
  background-color: var(--secondary-main);
  border-color: var(--secondary-main);
  color: var(--secondary-contrast);

  &:hover {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
  }

  &[outline]::part(base) {
    background-color: var(--secondary-contrast);
    border-color: var(--secondary-states-outlined-border);
    color: var(--secondary-main);

    &:hover {
      background-color: var(--secondary-states-hover);
    }
  }
}
